@import "../sass-utils/_variables.scss";

button {
  display: block;
}

a {
  display: block;
}

.primary {
  background-color: $primary-color;
  color: #000;
  border: 2px solid transparent;

  font-size: 14px;
  font-family: Vazirmatn, sans-serif;
  letter-spacing: 0.015em;
  line-height: 1;
  position: relative;
  font-weight: 800;
  vertical-align: middle;
  align-items: center;
  justify-content: space-between;
  width: auto;
  margin: 0;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0;
  outline: 0;
  transition: color 0.5s cubic-bezier(0.45, 0, 0.55, 1),
    background-color 0.5s cubic-bezier(0.45, 0, 0.55, 1),
    border-color 0.5s cubic-bezier(0.45, 0, 0.55, 1),
    background-position 0.5s cubic-bezier(0.45, 0, 0.55, 1);
  padding: 26px 60px 22px;
}

.btn-secondary {
  padding: 12px 65px;
  font-size: 24px;
  font-weight: bold;
  background-color: #c6e413;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: #a5e413;
    transition: 300ms all ease-in-out;
  }
  a {
    text-decoration: none;
    color: black;
    line-height: 38px;
  }
}
