.contact-page {
  color: white;
  .relative {
    position: relative;
    border-bottom: 2px solid #333435;
  }
}

.contact {
  margin-top: 80px;
  margin-bottom: 80px;
  padding-inline: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  &__left {
    position: relative;
    width: 50%;
    img {
      width: 100%;
      height: auto;
      filter: grayscale(100%) opacity(0.5);
      display: block;
    }
    &-title {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      span {
        display: block;
        font-size: 46px;
        text-align: center;
        font-weight: bold;
        // color: #c6e413;
        line-height: 70px;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
      }
    }
  }
  &__right {
    display: flex;
    flex-direction: column;
    width: 40%;
    &-title {
      font-size: 46px;
      text-align: center;
      margin-bottom: 50px;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    &-field {
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 100%;
      input {
        height: 50px;
        padding: 10px 20px;
        outline: none;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid #333435;
        color: #fff;
        transition: all 300ms ease-in-out;
        &:focus {
          border-bottom: 2px solid #c6e413;
        }
      }
    }
    textarea {
      padding: 10px 20px;
      outline: none;
      min-height: 115px;
      max-height: 225px;
      width: 100%;
      resize: vertical;
      background-color: transparent;
      border: none;
      border-bottom: 2px solid #333435;
      color: #fff;
      transition: border-bottom 300ms ease-in-out;
      &:focus {
        border-bottom: 2px solid #c6e413;
      }
    }
  }
  .btn-secondary {
    margin-top: 24px;
  }
}

@media (max-width: "1331px") {
  .contact__left {
    width: 100%;
  }
  .contact__right {
    width: 75%;
    .contact__form-field {
      width: 100%;
      input {
        width: 100%;
      }
    }
  }
}

@media (max-width: "670px") {
  .contact {
    padding-inline: 20px;
  }

  .contact__left-title span {
    line-height: 40px;
    font-size: 28px;
  }
  .contact__right {
    width: 100%;
    .contact__form-field {
      flex-direction: column;
      gap: 8px;
      width: 100%;
      input {
        width: 100%;
      }
    }
  }
}
