@import '../sass-utils/_variables.scss';

.gallery-page{
    .relative{
        position: relative;
        border-bottom: 2px solid #333435;
    }
}

.gallery{
    background-color: #000;
    &__title{
        padding-block: 80px ;
        font-size: 3.875rem;
        font-weight: 600;
        margin-bottom: 10px;
        text-align: center;
        line-height: 64px;
        color: #fff;
        
    }
    &__images{
        max-width: 1500px;
        margin: 0 auto;
        padding-bottom: 120px ;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 48px;
        .gallery__image{
            width: 30%;
            height: 300px;
        }
    }
}

@media (max-width:'964px'){
    .gallery__image{
        width: 40% !important;
        height: 300px;

    }
}
@media (max-width:'768px'){
    .gallery__image{
        width: 90% !important;
        height: 300px;

    }
}
