.line__gallery {
    padding: 40px;
  
  &__images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__image {
    width: 195px;
    height: 195px;
    flex: 1 1 auto;
  }
}
