.line__gallery {
    border: 1px solid green;
    padding: 40px;
  
  &__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  &__image {
    width: 195px;
    height: 195px;
    flex: 1 1 auto;
  }
}
