.meet-teams {
    margin-bottom: 60px;
    margin-left: 28px;

    &__title {
        font-size: 62px;
        font-weight: 700;
        margin-bottom: 24px;
        color: #fff;
        text-align: center;
        margin-bottom: 51px;
    }

    &__cards {
        display: flex;
        gap: 27px;
        overflow-x: scroll;
        height: 600px;

        &::-webkit-scrollbar {
            display: none;
        }

        &__card {
            border-bottom: 1px solid #3d3d3d;

            &__content {
                margin-top: 18px;
                color: #fff;

                p{
                    font-size: 12px;
                    line-height: 18px;
                    color: #989898;
                    font-weight: 500;
                }

                h2 {
                    margin-top: 7px;
                    font-size: 24px;
                    font-weight: 600;
                    color: #fff;
                }
            }
        }
    }
}