.sign-form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 95px;
  max-width: 1330px;

  &__info {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 48px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 3px;
    width: 100%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  &__field {
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 8px;
      font-size: 15px;
      line-height: 21px;
      color: #989898;
      font-weight: 400;
    }

    input,
    select {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      height: 50px;
      padding: 5px 10px;
      line-height: 20px;
      outline: none;
      background-color: transparent;
      border: none;
      border-bottom: 2px solid #333435;
      color: #fff;
      transition: all 300ms ease-in-out;
      &:focus {
        border-bottom: 2px solid #c6e413;
      }
    }
    option {
      background-color: #333435;
    }

    input[type="date"]::-webkit-calendar-picker-indicator{
       cursor: pointer;
    }

    input[type="date"]{
        background-color: #333435;
    }
  }
  .package {
    padding: 48px 30px;
    color: white;
    border-radius: 3px;
    width: 100%;
    &__top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
      &-desc {
        font-weight: 500;
        font-size: 20px;
        line-height: 50px;
      }
      &-change {
        color: #e3e3df;
        text-decoration: none;
        font-size: 18px;
        line-height: 50px;
      }
    }
    &__current {
      display: flex;
      font-weight: bold;
      font-size: 28px;
      line-height: 50px;
      margin-bottom: 55px;
      gap: 8px;
      border-bottom: 1px solid #989898;
    }
    .btn-secondary {
      margin: 0 auto;
    }
  }
}

@media (max-width: "900px") {
  .sign-form {
    display: flex;
    flex-wrap: wrap;
  }

  .sign-form__info {
    margin-bottom: 260px;
  }

  .package {
    background-color: #333435;
    position: fixed;
    z-index: 999;
    bottom: 0;
  }

  .sign-page footer {
    display: none;
  }
}

@media (max-width: "400px") {
  .sign-form__info {
    padding: 24px;
  }

  .package {
    padding: 28px 10px !important;
  }

  .package__top-desc {
    font-size: 16px !important;
  }

  .package__top-change {
    font-size: 14px !important;
  }

  .package__current {
    font-size: 24px !important;
  }

  .btn-secondary {
    width: 100%;
  }
}
