@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import '../sass-utils/_variables.scss';

body {
    font-family: 'Vazirmatn', sans-serif;
}

.text-sm {
    font-size: $text-sm-size;
    line-height: $text-sm-line-size;
}

.text-lg {
    font-size: $text-lg-size;
    line-height: $text-lg-line-size;
}

.text-xl {
    font-size: $text-xl-size;
    line-height: $text-xl-line-size;
}

.text-2xl {
    font-size: $text-2xl-size;
    line-height: $text-2xl-line-size;
}
