::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #c6e413;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a5e413;
}

.non-animate {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
}

.animate {
  opacity: 1;
  transform: translateY(0);
}
