@import '../sass-utils/_variables.scss';

header {
    border: 1px solid red;
    max-width: 1825px;
    width: 100%;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 30;

    .navbar {
        width: 100%;
        &-inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            #logo {
                display: block;
                width: 10%;
            }

            .nav {
                display: flex;
                width: 60.85%;

                li {
                    margin-right: 38px;
                    height: 25px;

                    a {

                        text-decoration: none;
                        text-transform: uppercase;
                        color: $header-light-color;
                        font-weight: 600;
                        //display: block;
                        //height: 25px;

                        span {
                            padding-top: 3px;
                            background-image: linear-gradient(to top, $primary-color 0, $primary-color 4px,transparent 4px,transparent 100%);
                            background-position: 0 100%;
                            background-repeat: no-repeat;
                            background-size: 0 100%;
                            transition: background-size .25s ease-out;

                            &:hover {
                                background-size: 100% 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}
