@import '../sass-utils/_variables.scss';

header {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    z-index: 30;
    position: absolute;
    left: 0;
    top: 0;

    .navbar {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        &-inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            #logo {
                display: block;
                width: 10%;
            }

            .nav {
                display: flex;
                width: 60.85%;

                li {
                    margin-right: 38px;
                    height: 25px;

                    a {
                        text-decoration: none;
                        text-transform: uppercase;
                        color: $header-light-color;
                        font-weight: 600;

                        .active{
                            background-size: 100% 100%;
                        }

                        span {
                            padding-top: 3px;
                            background-image: linear-gradient(to top, $primary-color 0, $primary-color 4px,transparent 4px,transparent 100%);
                            background-position: 0 100%;
                            background-repeat: no-repeat;
                            background-size: 0 100%;
                            transition: background-size .25s ease-out;

                            &:hover {
                                background-size: 100% 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

.fixed{
    background-color: #333435;  
    position: fixed;
    transition: all 300ms ease-in-out;  
}


@media (max-width: '1024px' ) {
    .desktop-header {
        display: none;
    }

    .mobile-header {
        width: 100%;
        height: 70px;
        display: flex;
        align-items: flex-start;
        z-index: 30;
        position: relative;
        left: 0;
        top: 0;

        &__navbar {
            background-color: #333435;
            width: 100%;
            
            padding-left: 51px;
            padding-right: 51px;

            &__top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 70px;

                &__hamburger-icon {
                    i {
                        color: #fff;
                    }
                }
            }

            &__bottom {
                display: none;
                padding-top: 39px;
                padding-bottom: 42px;

                &__lists {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;

                    &__list {
                        text-transform: uppercase;

                        &__item {
                            text-decoration: none;
                            font-size: 14px;
                            font-weight: 600;
                            color: #fff;
                            line-height: 21.98px;
                        }
                    }
                }

                &.active {
                    display: block;
                }
            }
        }
    }
  }

  @media (min-width: '1025px' ) {
    .mobile-header {
        display: none;
    }
  }

  @media (max-width: '440px' ) {
    .mobile-header {

        &__navbar {
            padding-left: 21px;
            padding-right: 21px;

            &__top__logo__img {
                display: none;
            }
        }
    }
  }

  @media (min-width: '441px' ) {
    .mobile-header {
        &__navbar__top__logo__img-icon {
            display: none;
        }
    }
  }